<nav>
  <ul>
    <li><a href="{% url 'rooms' %}" {% if request.path == '/rooms/' or request.path == '/' %}class="active"{% endif %}>Кімнати</a></li>
    <li><a href="{% url 'add_room' %}" {% if request.path == '/addroom/' %}class="active"{% endif %}>Додати кімнату</a></li>
    {% if user.is_authenticated %}
      <li><a href="{% url 'inbox' %}" {% if request.path == '/inbox/' %}class="active"{% endif %}>Повідомлення</a></li>
      <li><a href="{% url 'my_rooms' %}" {% if request.path == '/myrooms/' %}class="active"{% endif %}>Мої кімнати</a></li>
      <li><a href="{% url 'cart' %}" {% if request.path == '/cart/' %}class="active"{% endif %}>Кошик</a></li>
      <li><a href="{% url 'my_bookings' %}" {% if request.path == '/bookings/' %}class="active"{% endif %}>Мої бронювання</a></li>
      <li><a href="{% url 'profile' %}" {% if request.path == '/users/profile/' %}class="active"{% endif %}>Профіль</a></li>
      <li><a href="{% url 'account_logout' %}">Вийти</a></li>
    {% else %}
      <li><a href="{% url 'account_login' %}">Увійти</a></li>
    {% endif %}
  </ul>
</nav>

{% include "assistant/chat_widget.html" %}
